{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_calendar/calendar_month

    Calendar month view for blcoks.

    The purpose of this template is to render the main, detailed monthly view.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
        "iscalendarblock": false
    }
}}
<style>
.calendar-container{
    max-width:1200px;
    
}
#page.drawers .main-inner{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: .5rem;
    background-color: #fff;
    padding: 1.5rem .5rem;
    margin-top: .5rem;
    margin-bottom: 0rem; 
    flex: 1 0 auto;
}
#page.drawers {
    margin-top: 0px; 
    scrollbar-width: thin;
    scrollbar-color: #6a737b #f8f9fa;
}
.maincalendar .heightcontainer{
    height: 100%;
    position: relative;
    display:flex;
    justify-content:center;
    background:#f0f6ff;
     padding: 1.5rem .5rem;
}
</style>
<div class="calendar-container" id="calendar-month-{{uniqid}}-{{calendarinstanceid}}" data-template="core_calendar/month_detailed">
    {{> core_calendar/header}}
    {{> core_calendar/month_detailed}}
</div>
{{#js}}
require(['jquery', 'core_calendar/calendar', 'core_calendar/popover'], function($, Calendar, calendarPopover) {
    const isCalendarBlock = {{#iscalendarblock}}true{{/iscalendarblock}}{{^iscalendarblock}}false{{/iscalendarblock}};
    Calendar.init($("#calendar-month-{{uniqid}}-{{calendarinstanceid}}"), isCalendarBlock);
});
{{/js}}
